<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row  ">
                    <div class="col-lg-8 pt-5">
                        <div class="d-flex flex-column justify-content-center h-100">
                            <h3 class="logo">HOMOLOG <span>PARIS</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <nav>
                            <ul>
                                <li class="d-block mt-lg-5 mb-3"><a href="#">Delivery & Returns</a></li>
                                <li class="d-block mt-3 mb-3"><a href="#">Contact us</a></li>
                                <li class="d-block mt-3 mb-3"><a href="#">Retailers</a></li>
                                <li class="d-block mt-3 mb-lg-5"><a href="#">Faq</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-12 ">
                        <div class="d-flex flex-row  justify-content-lg-end justify-content-center  mt-lg-5 mt-5 mb-1 mb-lg-3">
                            <a href="#" class="socblock mr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="socblock mr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="socblock mr-0"><span class="icon-instagram"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="d-flex flex-row justify-content-lg-end justify-content-center mt-lg-0 mt-5 ">
                            <li class="d-block mt-lg-5 mr-5"><a href="#">Contact us</a></li>
                            <li class="d-block mt-lg-5 mr-5"><a href="#">Retailers</a></li>
                            <li class="d-block mt-lg-5 mr-0"><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>