<header id="header" class="colored noborder">
    <div class="container">

        <div class="headermenu d-flex flex-column">
            <div class="row pt-3 menuline1">
                <div class="col-lg-6 col-md-12 offset-md-6">
                    <nav>
                        <ul class="d-flex flex-row justify-content-end">
                            <li class="d-block pl-md-4 pr-md-4"><a href="#">France</a></li>
                            <li class="d-block pl-md-4 pr-md-4"><a href="#">Trouver un magasin</a></li>
                            <li class="d-block pl-md-4"><a href="#">Nous contacter</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row menuline2">
                <div class="col-lg-3 col-md-12 col-12 menuline2-1">
                    <form action="">

                        <div class="">
                            <div class="searchblock">
                                <input class="searchfield" type="text" placeholder="Search">
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="18.348" height="19.055" viewBox="0 0 18.348 19.055">
                                    <path id="search_5_" data-name="search (5)" d="M19.231,18.446l-5.346-5.559a7.561,7.561,0,1,0-.532.485l5.359,5.573a.36.36,0,1,0,.519-.5ZM8.538,14.391a6.836,6.836,0,1,1,6.836-6.836A6.843,6.843,0,0,1,8.538,14.391Z" transform="translate(-0.983)" fill="#6c0d0f"/>
                                </svg>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-lg-6 col-md-12 col-12 position-relative  menuline2-2">
                    <div class="logo">
                        HOMOLOG
                        <span>PARIS</span>
                    </div>
                    <span class="menuicon">
                        <div id="nav-icon2">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                    </span>

                </div>
                <div class="col-md-3 mt-3 col-12 menuline2-3">
                    <nav>
                        <div class="d-flex flex-row">
                            <div class="d-block pr-md-4"><a href="#" id="desctopcabtbutton">My Account</a></div>
                            <div class="d-block">
                                <a href="#" class="d-block d-flex flex-row" id="desctopcartbutton">
                                    <span>Cart</span>
                                    <span class="cart-count">1</span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row menuline3">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <!--                            <ul class="navbar-nav mr-auto d-flex flex-row justify-content-around w-100">-->
                            <ul class="navbar-nav  flex-row row" data-aos="fade-in">
                                <li class="nav-item dropdown megamenu-li col-lg-4 col-2 offset-1 offset-lg-0">
                                    <a class="nav-link dropdown-toggle text-center" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <a class="dropdown-item" href="#">All W</a>
                                                <a class="dropdown-item" href="#">New Arrivals</a>
                                                <a class="dropdown-item" href="#">Sales</a>
                                                <a class="dropdown-item" href="#">Top</a>
                                            </div>
                                            <div class="col-lg-3 " >
                                                <a class="dropdown-item" href="#">Coasts & Jackets</a>
                                                <a class="dropdown-item" href="#">Dresses</a>
                                                <a class="dropdown-item" href="#">Shirts</a>
                                                <a class="dropdown-item" href="#">Shoes</a>
                                            </div>
                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Skirts</a>
                                                <a class="dropdown-item" href="#">Trousers</a>
                                                <a class="dropdown-item" href="#">Knits</a>
                                                <a class="dropdown-item" href="#">Swinwear</a>
                                            </div>

                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Bags</a>
                                                <a class="dropdown-item" href="#">Jewelery</a>
                                                <a class="dropdown-item" href="#">Hats</a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown megamenu-li col-lg-4 col-2">
                                    <a class="nav-link dropdown-toggle text-center" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Men</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                                        <div class="row">

                                            <div class="col-lg-3 " data-aos="fade-in">
                                                <a class="dropdown-item" href="#">All M</a>
                                                <a class="dropdown-item" href="#">New Arrivals</a>
                                                <a class="dropdown-item" href="#">Sales</a>
                                                <a class="dropdown-item" href="#">Top</a>
                                            </div>
                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Coasts & Jackets</a>
                                                <a class="dropdown-item" href="#">Dresses</a>
                                                <a class="dropdown-item" href="#">Shirts</a>
                                                <a class="dropdown-item" href="#">Shoes</a>
                                            </div>
                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Skirts</a>
                                                <a class="dropdown-item" href="#">Trousers</a>
                                                <a class="dropdown-item" href="#">Knits</a>
                                                <a class="dropdown-item" href="#">Swinwear</a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown megamenu-li col-lg-4 col-2">
                                    <a class="nav-link dropdown-toggle text-center" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown04">
                                        <div class="row">

                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">All E</a>
                                                <a class="dropdown-item" href="#">New Arrivals</a>
                                                <a class="dropdown-item" href="#">Sales</a>
                                                <a class="dropdown-item" href="#">Top</a>
                                            </div>
                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Coasts & Jackets</a>
                                                <a class="dropdown-item" href="#">Dresses</a>
                                                <a class="dropdown-item" href="#">Shirts</a>
                                                <a class="dropdown-item" href="#">Shoes</a>
                                            </div>
                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Skirts</a>
                                                <a class="dropdown-item" href="#">Trousers</a>
                                                <a class="dropdown-item" href="#">Knits</a>
                                                <a class="dropdown-item" href="#">Swinwear</a>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item dropdown megamenu-li mobile-visible menucabinet col-2">
                                    <a class="nav-link dropdown-toggle text-center" href="" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon-user"></span>
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown05">
                                        <div class="row">

                                            <div class="col-lg-3 ">
                                                <a class="dropdown-item" href="#">Register</a>
                                                <a class="dropdown-item" href="#">Log In</a>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item dropdown megamenu-li mobile-visible menucart col-2">
                                    <a class="nav-link dropdown-toggle text-center" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon-cart"></span>
                                    </a>
                                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown03">
                                        <div class="row">
                                            <div class="col-lg-8 col-12 ">
                                                <div class="row">


                                                    <div class="col-lg-6 col-12 d-flex flex-lg-row flex-column mb-3">

                                                        <div class="row">
                                                            <div class="col-lg-6 col-3">
                                                                <img src="img/cart-img.jpg" class="img-fluid" alt="">
                                                            </div>
                                                            <div class="col-lg-6 col-9">
                                                                <div class="cartiteminfo d-flex flex-column justify-content-center h-100">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="itemname">
                                                                                Printed floral jacket
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-5">
                                                                            <span class="propname">color</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <span class="prop">
                                                                                <span class="propcolor colorblack"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-5">
                                                                            <span class="propname">size</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <span class="prop">
                                                                                XS
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="itemnprice">
                                                                                119.90€
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6 col-12 d-flex flex-lg-row flex-column mb-3"  >
                                                        <div class="row">
                                                            <div class="col-lg-6 col-3">
                                                                <img src="img/cart-img.jpg" class="img-fluid" alt="">
                                                            </div>
                                                            <div class="col-lg-6 col-9">
                                                                <div class="cartiteminfo d-flex flex-column justify-content-center h-100">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="itemname">
                                                                                Printed floral jacket
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-5">
                                                                            <span class="propname">color</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <span class="prop">
                                                                                <span class="propcolor colorred"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-5">
                                                                            <span class="propname">size</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <span class="prop">
                                                                                S
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="itemnprice">
                                                                                109.99€
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-12 ">

                                                <div class="d-flex flex-column justify-content-center  h-100">
                                                    <div class="row">
                                                        <div class="col-6">Sub-total</div>
                                                        <div class="col-6 text-right">916 €</div>
                                                    </div>
                                                    <div class="row pt-lg-3 pb-lg-3 ">
                                                        <div class="col-6">Delivery</div>
                                                        <div class="col-6 text-right">Free standard delivery</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="text-center">
                                                                <a class="d-block text-center pt-2 pb-2 pr-4 pl-4  pt-lg-3 pb-lg-3 pl-lg-5 pr-lg-5 mt-2 shopnow" href="#">Checkout</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</header>