@charset "UTF-8";
//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);

@font-face {
  font-family: 'Bangla';
  src: url('../fonts/Bangla_MN.ttf');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD;
}
@font-face {
  font-family: 'Letter Gothic Std Medium';
  src: local('Letter Gothic Std Medium'),
      url('../fonts/LetterGothicStd.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-display: swap; /* Read next point */
  unicode-range: U+0020-FFFD;
}
@font-face {
  font-family: 'Letter Gothic Std Bold';
  src: local('Letter Gothic Std Bold'),
  url('../fonts/LetterGothicStd-Bold.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-display: swap; /* Read next point */
  unicode-range: U+0020-FFFD;
}






//
// @font-face {
//  font-family: 'Open Sans';
//  src: url('../fonts/Open Sans Light.eot');
//  src: url('../fonts/Open Sans Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Open Sans Light.woff') format('woff'),
//        url('../fonts/Open Sans Light.ttf') format('truetype'),
//        url('../fonts/Open Sans Light.svg#Open Sans Light') format('svg');
//  font-weight: 300;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-FFFD;
//}


// @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('#{$fa-font-path}/fa-regular-400.eot');
// 	src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
// 	url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
// 	url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
// 	url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
// 	url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
// }
// @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url('#{$fa-font-path}/fa-solid-900.eot');
// 	src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
// 	url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
// 	url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
// 	url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
// 	url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
// }
// .fa,
// .fas {
// 	font-family: 'Font Awesome 5 Free';
// 	font-weight: 900;
// }
// .far {
// 	font-family: 'Font Awesome 5 Free';
// 	font-weight: 400;
// }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?npo2co');
  src: url('../fonts/icomoon/icomoon.eot?npo2co#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?npo2co') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?npo2co') format('woff'),
    url('../fonts/icomoon/icomoon.svg?npo2co#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e971";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-arrow-left2:before {
  content: "\ea40";
}