a:hover, a:link, a:visited{
	text-decoration:none;
	outline:none
}
::-moz-selection{
	background:#9b449e;
	color:#fff;
	text-shadow:none
}
::selection{
	background:#9b449e;
	color:#fff;
	text-shadow:none
}
input[placeholder]{
	text-overflow:ellipsis;
}
input::-moz-placeholder{
	text-overflow:ellipsis;
}
input:-moz-placeholder{
	text-overflow:ellipsis;
}
input:-ms-input-placeholder{
	text-overflow:ellipsis;
}
:focus::-webkit-input-placeholder{
	color:transparent
}
:focus::-moz-placeholder{
	color:transparent
}
:focus:-moz-placeholder{
	color:transparent
}
:focus:-ms-input-placeholder{
	color:transparent
}
*{
	outline:0
}
::placeholder {
	color: #222!important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #222 !important;
}

::-ms-input-placeholder {
	color: #222 !important;
}
input::placeholder {
	color: #222 !important;
}

*:focus {
	outline: none;
}
.img-fluid{
	width: 100%;
}
.position-relative{
  position: relative;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.nopaddings{
	padding:0 !important;
}
.nomargins {
	margin: 0 !important;
}
.text-center{
	text-align: center;
}
.h-100{
	height: 100%;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.browserupgrade{
	margin:0.2em 0;
	background:#ccc;
	color:#000;
	padding:0.2em 0;
}