//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css
//$fa-font-path: "../fonts/fontawesome" !default;
@import "fonts";
@import "mixins";
/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid";
@import "plugins/bootsrap/nav";
@import "plugins/bootsrap/navbar";
@import "plugins/bootsrap/dropdown";
@import "plugins/bootsrap/variables";
//@import "plugins/bootsrap/carousel";
@import "plugins/bootsrap/images";
//@import "plugins/bootsrap/";

//@import "plugins/bootsrap/te";
//@import "plugins/bootsrap/root";
//@import "plugins/bootsrap/mixins";
@import "plugins/bootsrap/forms";
///@import "plugins/bootsrap/utilities";
/*Form Steps*/
//@import "plugins/bs-stepper.min";

/*fontawesome*/
//@import "plugins/fontawesome/variables";
//@import "plugins/fontawesome/mixins";
//@import "plugins/fontawesome/core";
//@import "plugins/fontawesome/larger";
//@import "plugins/fontawesome/icons";
//@import "plugins/fontawesome/screen-reader";
/*Swiper*/
//@import "plugins/swiper.min.css";
/*AOS*/
@import "plugins/aos";
/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";


body {
  font-family: "Letter Gothic Std Medium";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header{
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fff;
  background: transparent;
  transition: .3s all ease-in;
  z-index: 2;
  &.noborder{
    border-bottom: none !important;
  }
  &.scrolled,
  &.colored,
  &:hover{
    background: #f7f5ef;
    a{
      color: #222;
    }
    .logo{
      color: #790208;
    }
    #nav-icon2 span {
      background: #790208;
    }
  }
  &.colored{
    position: relative
  }
  .mobile-visible{
    //display: none;
    //width: 0;
    //overflow: hidden;
  }
  .mobile-visible a.nav-link{
    display: none;
    //width: 0;
    //opacity: 0;
  }
  a{
    color: #fff;
  }

  .logo{
    font-family: 'Bangla';
    font-size: 50px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    span{
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      margin-left: 10px;

    }
  }
  .searchblock{
    position: relative;
  }
  .searchfield{
    text-align: right;
    padding: 3% 5% 3% 10%;
    width: 100%;
    border: 1px solid transparent;
    transition: 0.3s border-color ease-in;
    &:focus{
      border: 1px solid #000;
    }
  }
  .icon{
    position: absolute;
    left: 10px;
    top: 11px;
  }
  .navbar{
    padding-bottom:0 ;
  }
  .navbar-nav{
    width: 100%;
    .dropdown-menu{
      border: none;
      background:#F8F5F0;
      border-radius: 0;
      margin: 0;
    }
    .dropdown-item{
      text-align: center;
      color: #222;
      font-size: 14px;
    }

    li.dropdown:hover{border-bottom: 1px solid #000}
    .open > .dropdown-menu{display:none;}
    li.dropdown:hover .dropdown-menu {display: block;}
    .dropdown-menu a{visibility: hidden;transition: visibility 0s, opacity 0.9s linear;}
    .dropdown-menu a.active-visible{visibility: visible;}

    .dropdown-item:focus,
    .dropdown-item:hover{
      background: unset;
      color: #000;
    }
  }
  .menuicon{display: none}

  .megamenu-li {
    position: static;
  }

  .megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
  }
  .cart-count{
    display:inline-block;
    //padding: 3% 5%;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    margin-left: 3px;
  }
  nav ul{
    margin-left: 0;
    padding-left: 0;
  }

  .shopnow{
    color: #000;
    font-size: 22px;
  }
  .dropdown-toggle::after{
    display: none;
  }

}

//cart
.propname{
  color: #7C7A78;
  text-transform: uppercase;
  right: 20px;
}
.propcolor{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.colorblack{
  background: black;
}
.colorred{
  background: red;
}
.itemnprice{
  font-weight: 900;
}




.first-slide,
.second-slide,
.third-slide,
.fourth-slide{
  width: 100%;
  height: 100vh;
  color: #fff;
}

.first-slide{
  background: url("../img/first-slide.jpg");
  background-size: cover;
}
.second-slide{
  background: url("../img/second-slide.jpg");
  background-size: cover;
}
.third-slide{
  background: url("../img/third-slide.jpg");
  background-size: cover;
}
.fourth-slide{
  background: url("../img/fourth-slide.jpg");
  background-size: cover;
}


.headername{
  font-size: 24px;
}
.headertext{
  font-size: 20px;
}
.shopnow{
  background: #fff;
  color: #000;
  font-family: "Letter Gothic Std Bold";
  font-size: 22px;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  //transition: 0.3s all ease-in;
  border: 1px solid #fff;
  position: relative;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background: #fff;
  }

  &:hover{
   // background: #000;
   // color: #fff;
    color: #fff;
  }


  @media (-moz-touch-enabled: 0), (hover: hover) {
    &:not([disabled])::before {
      color: #000;
      -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &:not([disabled]):hover::before {
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }


}

//footer
#footer{
  background: #F8F5F0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 240px;

  .logo{
    font-family: 'Bangla';
    font-size: 50px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #790208;
    span{
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      margin-left: 10px;

    }
  }
  ul{
    padding: 0;
    margin-bottom: 0;
    a{
      font-size: 16px;
      color: #000;
    }
  }
  .socblock{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #790208;
    display: block;
    transition: all 0.5s;
    span{
      color: #790208;
      font-size: 10px;
    }
    &:hover{
      background: #790208;
      cursor: pointer;
      span{
        color: #fff;
      }
    }
  }

}

//All articles
.articlepage{
  background: #F8F5F0;
}
.articlelink,
.articlelink:hover{
  color: #000;
}
.onearticle{
  .descr{
    color: #81807D;
    text-transform: uppercase;
  }
  .price{
    font-weight: 900;
  }
}

//One Article
.onearticlepage{
  background: #F8F5F0;
}
.article{
  .category{
    color: #81807D;
    text-transform: uppercase;
    font-size: 26px;
  }
  .name{
    padding-top: 0;
  }
  .description{
    color: #81807D;
    text-transform: uppercase;
  }
  .addtocart{
    background: #fff;
    border:1px solid #707070;
    color: #000;
    text-align: center;
    font-weight: 900;
    width: 100%;
  }
  .optionname{
    color: #81807D;
    text-transform: uppercase;
  }
  .optionscolor {
    label{
      //display: none;
      color: #81807D;
    }
    input[type='radio']{
      outline: unset;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;

    }

    input[type='radio'].colorselector:after {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: -1px;
      left: -1px;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
    }


    input[type='radio'].colorselector:checked:after {
      content: '';
      border: 1px solid #222;
    }

    input[type='radio']:checked+label{
      font-weight: 900;
      color: #000;
    }




    input.cpink:after{
      background-color: #E483B0;
      //border: 1px solid #E483B0;
    }
    input.cpink:checked:after{
      background-color: #E483B0;
    }

    input.cpurple:after{
      background-color: #8D90E4;
      //border: 1px solid #E483B0;
    }
    input.cpurple:checked:after{
      background-color: #8D90E4;
    }

    input.cblack:after{
      background-color: #000;
      //border: 1px solid #E483B0;
    }
    input.cblack:checked:after{
      background-color: #000;
    }

  }
}


//checkout
.checkoutpage{
  background: #F8F5F0;
  .shopnow{
    background: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
  }
}
.backbutton{
  color: #000;
  span{
    position: relative;
    top:2px;
  }
}
#cartmenu{
  padding: 0;

  li {
    display: block;

    a{
      display: block;
      color: #81807D;
      &.active{
        color: #000;
      }
    }
  }
}
.checkoutpageform{
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #F8F5F0;
    border-bottom: 1px solid #81807D;
    box-sizing : border-box;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 0;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email']{
    border: none;
    background: #F8F5F0;
    border-bottom: 1px solid #81807D;
    box-sizing : border-box;
    text-transform: uppercase;
    padding: 0;
    //width: calc(100% - 30px);
  }
  input[type='tel']:focus,
  input[type='tel']:active,
  input[type='email']:focus,
  input[type='email']:active,
  input[type='text']:focus,
  input[type='text']:active{
    border-bottom: 1px solid #000;
    background: #fff;
    padding: 3px 0;
  }


  input:focus::-moz-placeholder,
  input[placeholder]:focus{
    color: #81807D;
  }



}




//MEDIA
@media screen and (max-width: 1200px) {

}

@media screen and(max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  #header{

    &.scrolled{
      #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) ,
      #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
        background: #222;
      }
    }
    //.mobile-visible{
    //  display: block;
    //}
    .mobile-visible a.nav-link{
      display: block;
    }


    .navbar-toggler,
    .menuline1,
    .menuline2-1,
    .menuline2-3,
    .menuline3{
      display: none;
    }
    .navbar{
      padding: 0;
    }
    .dropdown-item{
      padding: .1rem 1.5rem;
    }


    .logo {
      font-size: 30px;
      color: #fff;
      line-height: 18px;
      padding-top: 20px;
    }
    .menuicon{
      display: block;
      position: absolute;
      right: 14px;
      top:9px
    }
    #nav-icon2 {
      width: 26px;
      height: 45px;
      position: relative;
      //margin: 50px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }
    #nav-icon2 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #fff;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon2 span:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    #nav-icon2 span:nth-child(odd) {
      left:0px;
      border-radius: 9px 0 0 9px;
    }

    #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
      top: 0px;
    }

    #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
      top: 10px;
    }

    #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
      top: 20px;
    }

    #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #fff;
    }

    #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #fff;
    }

    #nav-icon2.open span:nth-child(1) {
      left: 2px;
      top: 8px;
    }

    #nav-icon2.open span:nth-child(2) {
      left: calc(50% - 4px);
      top: 8px;
    }

    #nav-icon2.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    #nav-icon2.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    #nav-icon2.open span:nth-child(5) {
      left: 2px;
      top: 15px;
    }

    #nav-icon2.open span:nth-child(6) {
      left: calc(50% - 4px);
      top: 15px;
    }
    .menuline2{
      display: flex;
      flex-direction: column;
    }
    .menuline2-2{
      order: 1;
    }
    .menuline2-1{
      order: 2;
    }
    .menuline2-3{
      order: 3;
    }
    .searchfield {
      padding: 1% 2% 1% 5%;
      text-align: right;
    }
    .icon {
      top: 8px;
      left: 8px;
    }



  }

  .second-slide,
  .third-slide,
  .fourth-slide{
    background-position: center center;
  }

  #footer{
    text-align: center;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {


}